.customer{
    width: 100%;
    padding: 120px 0;
    position: relative;
}
.customer .customer_sideImg_1{
    position: absolute;
    top: 159.59px;
    left: 0;
}
.customer .customer_sideImg_2{
    position: absolute;
    bottom: 41.5px;
    right: 0;
}
.customer .heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.customer .heading .content .title{
    display: flex;
    justify-items: left;
    align-items: center;
    gap: 10px;
}
.customer .heading .content .title .square{
    width: 10px;
    height: 10px;
    background-color: var(--red-2);
}
.customer .heading .content .title h5{
    font-family: var(--Roboto);
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: var(--red-2);
}
.customer .heading .content p{
    margin-top: 16px;
    font-family: var(--Bebas_Neue);
    font-weight: 500;
    font-size: 62px;
    line-height: 62px;
    color: var(--Black-2);

}
.customer .arrow-icon{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 32px;
}
.customer .small_device_customer_icon{
    display: none;
}
.customer .arrow-icon div{
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 100%;
    color: var(--Black);
    background-color: var(--White);
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.customer .arrow-icon div svg{
    font-size: 22px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.customer .arrow-icon div:hover{
    color: var(--red-2);
}

.customer-card{
    position: relative;
    margin-top: 60.14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 555.97px;
    background-color: var(--Yellow);
}
.customer-card .quote_sideImg{
    position: absolute;
    bottom: 41.35px;
    left: 0;
}
.customer-card .quote{
    width: 45%;
    height: 555.97px;
    /* background-color: var(--Yellow); */
    display: flex;
    justify-content: flex-start;
    padding: 71.87px 85.13px;
    
}
.customer-card .quote p{
    font-size: 28px;
    margin-top: -20px;

}
.customer-card .quote div{
    width: 85%;
    position: relative;
}
.customer-card .quote div .text{
    font-family: var(--Roboto);
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
}
.customer-card .quote div .customer-intro{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 164px; */
    /* padding-bottom: 18px; */
    border-bottom: 1px solid var(--Black);
    position: absolute;
    bottom: 0px;
    left: 0;
}
.customer-card .quote div .customer-intro .info{
    padding-bottom: 18px;
}

.customer-card .quote div .customer-intro .info .name{
    font-family: var(--Bebas_Neue);
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: var(--Black);
}
.customer-card .quote div .customer-intro .info .desc{
    margin-top: 3px;
    font-family: var(--Roboto);
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: var(--Black-1);

}
.customer-card .quote div .customer-intro .customer_image{
    width: 40px;
    border-bottom: 5px solid red;
    padding-bottom: 18px;

}
.customer-card .quote div .customer-intro .image{
    width: 100%;
    height: 40px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.customer-card .quote div .customer-intro .image img{
    width: 100%;
    height: 100%;

}
.customer-card .video{
    width: 55%;
    position: relative;
}
.customer-card .video .playButton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: var(--Yellow-1);
}
.customer-card .video .playButton svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--Black);
}
.customer-card .small_device_video{
    display: none;
}
.customer-card .video .image{
    width: 100%;
    height: 555.97px;
    object-fit: cover;
    overflow: hidden;
}
.customer-card .video .image img{
    width: 100%;
    height: 100%;
}





@media screen and (max-width:1919px){
    .customer .heading .content p{
        font-size: 56px;
    }
    .customer .arrow-icon{
        gap: 24px;
    }
}

@media screen and (max-width:1400px){
    .customer .customer_sideImg_1{
        display: none;
    }
    .customer .customer_sideImg_2{
        display: none;
    }
    .customer .heading .content .title h5{
        font-size: 16px;
        line-height: 26px;
    }
    .customer .heading .content p{
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0;
    }
    .customer .arrow-icon{
        gap: 18px;
    }
    .customer .arrow-icon div{
        width: 40px;
        height: 40px;
        
    }
    .customer .arrow-icon div svg{
        font-size: 18px;
    }
    .customer-card .quote{
        padding:71.85px 60px;
    }
    .customer-card .quote p{
        font-size: 20px;
        margin-top: -10px;
    
    }
    .customer-card .quote div .text{
        font-size: 18px;
        line-height: 28px;
    }
    .customer-card .quote div .customer-intro{
        

    } 
}



@media screen and (max-width:576px){
    .customer{
        padding: 30px 0;
    }
    .customer .customer_sideImg_1{
        display: none;
    }
    .customer .customer_sideImg_2{
        display: none;
    }
    .customer .heading .content .title h5{
        font-size: 16px;
        line-height: 26px;
    }
    .customer .heading .content p{
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0;
    }
    .customer .arrow-icon{
        display: none;
    }
    .customer .small_device_customer_icon{
        display: flex;
        justify-content: center;
        margin-top: 16px;
    }
    .customer-card .video{
        display: none;
    }
    .customer-card .small_device_video{
        display: block;
        width: 100%;
       
    }
    .customer-card{
        height: auto;

    }
    .customer-card .video .image{
        width: 100%;
        height: 100%
    }
    .customer-card .quote{
        width: 100%;
        /* height: auto; */
        margin-top: -5px;
        padding: 25px;
        padding-bottom: 120px;
    }
    .customer-card .quote_sideImg{
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .customer-card .quote p{
        font-size: 20px;
        margin-top: -10px;
    
    }
    .customer-card .quote div .text{
        font-size: 18px;
        line-height: 28px;
    }
    .customer-card .quote div .customer-intro{
        bottom: -90px;    
    }

    
  }
