.food{
    width: 100%;
    background-color:var(--Off-White) ;
    padding: 120px 0;
    position: relative;
}
.food .food_sideImg{
    position: absolute;
    bottom: 130.93px;
    left: 0;
}
.food .heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.food .heading .content .title{
    display: flex;
    justify-items: left;
    align-items: center;
    gap: 10px;
}
.food .heading .content .title .square{
    width: 10px;
    height: 10px;
    background-color: var(--red-2);
}
.food .heading .content .title h5{
    font-family: var(--Roboto);
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: var(--red-2);
}
.food .heading .content p{
    margin-top: 16px;
    font-family: var(--Bebas_Neue);
    font-weight: 700;
    font-size: 62px;
    line-height: 62px;
    color: var(--Black-2);
    letter-spacing: 2px;
}
.food .heading .arrow-icon{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 32px;
}
.food .heading .arrow-icon div{
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 100%;
    color: var(--Black);
    background-color: var(--White);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.food .heading .arrow-icon div svg{
    font-size: 22px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.food .heading .arrow-icon div:hover{
    color: var(--red-2);
}

.food .popular-food-item-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 32px;
    margin-top: 60px;
}
.food .popular-food-item-cards .card{
    padding: 38px 32px 32px 32px;
    background-color: var(--White);
    text-align: center;
}
.food .popular-food-item-cards .card .food-image{

    text-align: center;

}
.food .popular-food-item-cards .card .line{
    width: 57px;
    height: 5px;
    background-color: var(--red-2);
    margin: 24px auto;

}
.food .popular-food-item-cards .card .title{
    font-family: var(--Bebas_Neue);
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: var(--Black);
}
.food .popular-food-item-cards .card .desc{
    font-family: var(--Inter);
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--Black);
}



@media screen and (min-width:320px) and (max-width:576px){
    .food{
        padding: 32px 0;
    }
    .food .popular-food-item-cards{
        width: 100%;
        grid-template-columns: repeat(1,1fr);


    }
  }
@media screen and (max-width:1024px){
    .food .popular-food-item-cards{
        grid-template-columns: repeat(2,1fr);

    }
}
@media screen and (max-width:1400px){
    .food .popular-food-item-cards{
        grid-template-columns: repeat(2,1fr);

    }
}
@media screen and (max-width:1900px){
    .food .popular-food-item-cards{
        grid-template-columns: repeat(3,1fr);

    }
}