*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
ul,li{
  list-style-type: none;
}
a{
  text-decoration: none;
}
.container{
  width: 100%;
  /* max-width: 1920px; */
  padding: 0 300px;
  margin: 0 auto;
  position: relative;
}
 @media screen and (max-width:576px){
  .container{
    padding: 0 30px;
  }
}
 @media screen and (max-width:1024px){
  .container{
    padding: 0 30px;
  }
}
:root{
  /* Fonts */
  --Poppins:"Poppins", sans-serif;
  --Roboto:"Roboto", sans-serif;
  --Raleway: "Raleway", sans-serif;
  --Bebas_Neue: "Bebas Neue", sans-serif;
  --Inter: "Inter", sans-serif;
  --Montserrat: "Montserrat", sans-serif;

  /* Colors */
  --White:#FFFFFF;
  --Off-White:#fbf7f2;
  --Yellow:#FEBF00;
  --Black:#0A1425;
  --Black-1:#333333;
  --Black-2:#181818;
  --red:rgba(189, 31, 23, 0.33);
  --red-1:#B52B1D;
  --red-2:#BD1F17;
}
/* Link{
  cursor: pointer;
  text-decoration: none;
} */